.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
body{
    background-color: black;
}
.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
p{
 color: white; 
}
#roll {
    background-color: #76A3F4;
    border: none;
    color: white;
    padding: 7px 15px; //15,32
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#player1{
    background-color: #F18586;
}
#player2{
    background-color: #8284D7;
}
#player3{
    background-color: #DEC165;
}
#player4{
    background-color: #66D398;
}
#shiekbox{
   color: white;
}
#playersdrop{
    color: white;
}
#chardrop{
    color: white;
}
